*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
coverage
.temp
exemplar_data/genetic_data.fa.npsearch.fa
exemplar_data/genetic_data.fa.npsearch.html